.login_heading {
    background-color: #5dcff3;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.registration {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin: 90px auto 0;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 320px;
}

.login_page {
    position: absolute;
    width: 100%;
}